ul.contact3d {
    position: relative;
    top: 70px;
    display: flex;
    transform: rotateX(55deg) rotateZ(10deg);
    flex-direction: column;
    transform-style: preserve-3d;
    width: 90px;

    li {
        transform-style: preserve-3d;
    }

    a {
        $top-color: #3a3a3a;
        $side-color: #1f1f1f;
        $top-color-hover: #ffaa55;
        $side-color-hover: #cc7733;

        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ccc;
        background-color: $top-color;
        transition: 0.4s;
        transition-property: background-color, transform;
        transform-style: preserve-3d;
        padding: 30px 30px;
        position: relative;
        cursor: pointer;

        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: $side-color;
            transition: 0.4s background-color;
        }

        &::before {
            right: 0.5px;
            top: 0;
            transform-origin: right;
            transform: rotateY(-90deg);
            height: 100%;
            width: 30px;
        }

        &::after {
            bottom: 0.5px;
            transform-origin: bottom;
            transform: rotateX(90deg);
            height: 30px;
            width: 100%;
        }

        &:hover {
            background-color: $top-color-hover;
            color: white;
            transform: translateZ(50px);

            &::before,
            &::after {
                background-color: $side-color-hover;
            }
        }
    }
}
